<html>
<body background="static/image.jpeg">
<center>
<br>
<br>
<h1> BatchMates.com</h1>

<form method = "post">
    <LABEL for="firstname">Email </LABEL>
              <INPUT type="text" name="form-username"><BR>{{error_username}}
              <br>
    <LABEL for="lastname">Password </LABEL>
              <INPUT type="password" name="form-password"><BR>{{error_password}}
              <br>
        <INPUT type="submit" value="Login"> 
        <p>Not yet Registered</p>
        <p>Register Here</p>
        

</form>
<a href="/signup"><button type = "button">Register</button></a>
   
    
</center>
 </body>
</html>